<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	 <script src="//cdn.jsdelivr.net/sockjs/1.1/sockjs.min.js" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/npm/centrifuge@2.0.0/dist/centrifuge.js"></script>
	<title>Title</title>
</head>
<body>
	<h1>Hello From chat</h1>

	<div id="sample-div">

	</div>

	<script type="application/javascript">
		var centrifuge = new Centrifuge('{{ CENTRIFUGE_SOCKJS_ENDPOINT }}');
		centrifuge.setToken('{{ CENTRIFUGE_TOKEN }}');

		centrifuge.subscribe("news", function(message) {
    	console.log(message.data);
			$("#sample-div").append("<p>" + message.data.content + "</p>");
		});

		centrifuge.connect();
	</script>

</body>
</html>